<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
</head>

<body>
    <h1>Employee List</h1>
    <a href="/add">Add New Employee</a>
    <table border="1" cellpadding="8" cellspacing="0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Company</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.phone %></td>
                    <td><%= user.company %></td>
                    <td>
                        <a href="/edit/<%= user._id %>">Edit</a>
                        <a href="/delete/<%= user._id %>">Delete</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>

</html>
